extends layout


block content
	header
		container(id="branding")
			h1 SoundPanel
				nav
					ul  
						li
							a(href='/Soundboard')
								|  Soundboard
						li
							a(href='/journal')
								|  Journal
						li
							a(href='/signout')
								|  Logout
	div.container
		div.row
		br
		br
		br 
		br
		div.col-sm-2.col-md-2.move
		div.col-sm-4.col-md-4.move2(ng-controller="sController")
					ul.user-details
							table.table-user-information
									tr
										td.li Username:
											td.li(style='padding: 10px;') #{user.username}
									tr
										td.li Email:
											td.li(style='padding: 10px;') #{user.email}

			
